app/CardApp/CardApp.v12.suo
app/CardApp/CardApp/obj/Debug/
app/CardApp/CardApp/bin/Debug
app/XPlatformApp/XPlatformApp.v12.suo
app/XPlatformApp/XPlatformApp/obj/Debug/
app/XPlatformApp/XPlatformApp/bin/Debug
app/CarouselFormsApp/CarouselFormsApp.v12.suo
app/CarouselFormsApp/CarouselFormsApp/obj/Debug/
app/CarouselFormsApp/CarouselFormsApp/bin/Debug
app/XPlatformApp/CardAppiOS/obj/iPhone/Debug/
app/XPlatformApp/PortableClassLibrary/obj/Debug/
app/XPlatformApp/XPlatformApp.v12.suo
app/XPlatformApp/CardAppAndroid/obj/Debug/